
body{
    box-sizing :border-box;
    color :rgb(15, 17, 17);
    display :block;
    font-family : Arial, sans-serif; 
    font-size : 14px;
    height :100%;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    text-size-adjust :100%;
    

}
.page{

    background-color: rgb(12, 12, 12);
    margin: 0px;
    padding: 2px;
    display: block;
    z-index: 1;
}


.hdr {

    box-sizing :border-box;
    color: rgb(15, 17, 17);
    display: flex;
    float: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 99px;
    width: 100%;
    line-height :20px;
    position: static;
    flex-wrap: nowrap;
}

@media (max-width:425px) { 
    .hdr {
        display: none;
    }

}


@media (max-width:425px) {
    .body{
        font-size: 1.5em;
        line-height: 1.35;
        font-family: Arial, sans-serif,'Times New Roman', Times, serif;
    }

    .hdr{
        width: 100vw;
        height: 150px;
        background:#0f1111;
        display: block;
        box-sizing: border-box;
    }
    
    .nav-belt-left{
        display: flex;
        position: relative;
        z-index: inherit;
        height: 48px;
        width: 100%;
        border-bottom: 1px solid #232f3e;
        background-color: transparent;
        flex-flow: row nowrap;
        justify-content: space-between;
    }   
    
    .hamber img{
        display: block;
        width: 40px;
        height: 45px;
        background-position: -20px -378px;
        background-color: #232f3e;
        cursor: pointer;
    }
    
    .nav-logobar{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
    }

    .mob-searchBar{
        display:flex; 
        flex-direction: row;
        margin-top: 8px;
        
    
    }
    
    .input-search-m {

        display: flex;
        height: 36px;
        width: 80vw;
        background-color: white;
        margin-right: 0px;
        margin-left: 10px;
        border-radius: 5px 0 0 5px;
        padding: 0px;
        border: 0px;
        font-size: 18px;

    }
    .search-icon-m {
        margin: 0px 0px 0px -5px ;
        border-radius: 25px;
        height: 36px;
        width: 36px;
        padding: 0px;
    }

    .nav-shop-by{
        display: flex;
        flex-direction: row;
        margin-top: 110px;
        justify-content: space-between;
        width: 50vw;
       

    }
   
    .nav-shop-by a{
        color:white
        
    }
}



@media (min-width:426px) {
    .hamber{
        display: none;
    }

    .mob-searchBar{
        display: none;
    }

}
   


.nav-bar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 200;
    flex-wrap: nowrap;
    float: none;
    flex-shrink: 1;
    background-color: rgb(45, 51, 51);
    
}


.nav-belt {
display: flex;
height: 60px;
background-color: #0f1111;
align-items: center;
justify-content:left;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 50px;
box-shadow: 1px 1px 10px #5e6161;
z-index: 1000;
flex-direction :row;
flex-wrap: nowrap;
float: none;
box-sizing: border-box;
flex-flow: row nowrap;

}

.nav-belt-left{
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    width: 330px;
    height: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    float: none;
    position: static;
    text-size-adjust: 100%;

}

.nav-logo{
    box-sizing: border-box;
    clear: both;
    display: flex;
    flex-shrink: 0;
    width: auto;
    margin-left: 1px;
    width: 128px;
    height: 50px;
    z-index:  2;
    cursor: pointer;
    margin: 5px 2px;
    border:1px solid transparent;
    flex-direction :row;
    flex-wrap: nowrap;
    float: none;
    

    
    
}


.nav-logo:hover{
border: 1px solid white;

}
.nav-location{
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 5px 10px 10px 5px;
    border:1px solid transparent;
    align-items: center;
    display: flex;
    float: none;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    position: static;
    
}

.nav-location:hover{
    border: 1px solid white;
}

.delivering , .location {
    color: #cccccc;
    font-size: 12px;
    font-weight: 700;
    padding-left: 2px;
    display: block;
    float: left;
    text-wrap: nowrap;
    border: 1px transparent;

}

.location{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border: 1px transparent;
    margin-bottom: none;

}

.nav-belt-middle{
    display:flex; 
    flex-wrap:nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    width:fit-content;
    height: 40px;
    display: flex;
    padding: 10px 4px 10px 4px;
    align-items: center;
    justify-content:left;
    flex-basis: auto;

}

@media (max-width:425px) {
   .nav-belt-middle{
    display: none;
   }
}

@media (max-width:768px) { .nav-location{
    display: none;
}
    
}

.input-search{
    padding: 10px 0px;
    border: none;
    font-size: 14px;
    display: flex;
    flex-shrink: 0.5;
    flex-grow: 2;
    max-width: 400px;
    min-width: 20px;

    
}

@media (max-width:426px) {
    .input-search{
        display: none;
    }
}


.dropdown{
    color: grey;
    font-size: 14px;
    padding: 9px 5px;
    background-color:lightgrey;
    height: 18px;
    width:52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 5px 0px 0px 5px;
    border: 1px transparent;
}

.search-icon{
    font-size: 14px;
    padding: 9px 5px;
    height: 18px;
    width: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    border:none;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(254, 189, 105);
    
}

.search-icon:hover{
    cursor: pointer;
}

.search-image{
    width: 30px;
  
}

.nav-belt-right{
box-sizing: border-box;
display: flex;
float: none;
min-width: auto;
height: 50px;
align-items: center;
position: static;

}

.language{
    z-index: 6;
    display: flex;
    color: white;
    font-size: 14px;
    align-items: center;
    padding: 12px 13px;
    font-weight: 600;
    border:1px solid transparent;

}
.language:hover{
    border: 1px solid white;
    transition:2ms;
}
.sign-acount, .returns-orders {
    
    margin: 2px 2px;
    padding: 5px 10px;
    border:1px solid transparent;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: none;
    flex-shrink: 0;

}

@media (max-width:425px) {
    .returns-orders{
        display: none;
    }
    
}

.sign-acount:hover{
    border: 1px white solid;
}

.sign-in ,.return{
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px transparent;

     
}
.acount , .order{
    font-size: 14px;
    color: white;
    display: inline-block;
    font-weight: 700;
    border: 1px transparent;
}

.returns-orders:hover{
    border: 1px solid white;
}

.nav-cart{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    padding: 4px 12px;
    margin-right: 4px;
    border:1px solid transparent;
   
}

.nav-cart:hover{
    border: 1px solid white;
}

.cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3px 0px;
    margin: 0px;
    border:1px solid transparent;

}

.cart-icon{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;


}

.cart-text{
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 700;
    align-items: baseline;
    justify-content: left;
    padding: 0px;
}




.cart-count{
    color: rgb(255, 198, 9);
    font-weight: 800;
    position: relative;
    right:20px;
    bottom: 10px;
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 3px;


}

  
.nav-fill {
    box-sizing: border-box;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    display: flex;
    float: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: static;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.nav-shop{
    display:flex;
    column-gap: 1px;
    align-items: center;
}

.nav-fill a {

    padding: 8px 9px; 
    font-size: 14px;
    border: 1px solid transparent;
}
.nav-fill a:hover{
    border: .5px solid white;
    transition-delay: 200ms;
    transition-behavior:ease-in;
    cursor: pointer;
}

@media (max-width:426px) {
    .nav-fill{
        display: none;
    }
}


.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}

.slider{
    display: flex;
    aspect-ratio: 19/9;
    overflow-x: auto;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
   
}

@media (max-width:700px) {

    .slider {
    flex-shrink: 1;
    flex-grow: 0;
}
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-0%);
    transform: translateY(-50%);
    z-index: 300;
    
}


.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffff;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.nav-fill a:active{
    color: lightgray;
    transition: 0ms;
}



img{
    width: 100%;
    object-fit: contain;
   
}

.grid-product{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    column-gap: 20px;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    align-content: stretch;
    align-items: stretch;
    padding-left: 2px;
   
}

.product-container{
    display: flex;
    flex: 1 0 100%;
    box-sizing: border-box;
    margin-top: 2px;
    justify-content: center;
    align-content: center;
    overflow: hidden;

      
}
   
 .image{
    width: 100%;
    height: 200px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
  
}

.p-name{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4px;
    cursor: pointer;
    width: 250px;
    height: 38px;
    padding-bottom: 5px;
    overflow: hidden;


}

.price{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 4px;
   

}

.mrp{
    padding-left: 10px;
    font-size: 10px;
    text-decoration: none;
}


.rating{
    display: flexbox;
    width: 100px;
    
}
.star-count{
    font-family: 12px;
    color: rgb(143, 138, 138);
    margin-left: 5px;
}

@media screen and (max-width:1280px) { .grid-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}   
}


@media screen and (max-width:768px) { .grid-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}



@media screen and (max-width:425px) { .grid-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}



@media screen and (max-width:150px) { .grid-product{
    display: grid;
    grid-template-columns: 1fr;
}
    
}
.added{
    width: 50px;
    height: 18px;
    color: green;
}


.cart-div{
    display: flex;
    justify-content: left;
    align-items: center;
   
}

.add-cart-input{
width: 40px;
height: 18px;
border-radius: 4px;
border: 1px solid rgb(202, 202, 202);
padding: 3px 3px;
}   


.add-cart-btn {
    
width: 160px;
padding:6px 6px;
margin-left: 4px;
border: none;   
background-color: rgb(252, 211, 28);
border-radius: 20px;
cursor: pointer;
justify-content: center;
white-space: nowrap;


}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: auto;
   
}
